<md-content layout="column">
	<div layout="row" layout-xs="column">
			<div flex-xs flex-gt-xs="50" layout="column">
				<md-card>
					<md-toolbar>
						<div class="md-toolbar-tools">
							<h2>
								<span>{{assignment.name}}: Submission #{{submission.version}}</span>
							</h2>
						</div>
					</md-toolbar>
					<md-card-content>
						<md-content layout-padding>
							<p>{{submission.comment}}</p>
							<span layout="row" ng-show="submissionFiles.length == 0" layout-align="center center" flex>
								<span><h2>No submission files</h2></span>
							</span>
							<md-list>
								<md-list-item class="md-2-line" ng-repeat="submissionFile in submissionFiles">
									<div class="md-list-item-text">
										<h3>{{submissionFile.name}}.{{submissionFile.extension}} ({{submissionFile.size | bytes}})</h3>
										<p>Hash: {{submissionFile.hash}}</p>
									</div>
									<download-button class="md-secondary" file-id="submissionFile.fileId"></download-button>
								</md-list-item>
							</md-list>
						</md-content>
					</md-card-content>
				</md-card>
			</div>
			<div flex-xs flex-gt-xs="50" layout="column">
			<md-card>
				<md-toolbar>
					<div class="md-toolbar-tools">
						<h2>
							<span>Feedback</span>
						</h2>
						<span flex></span>
						{{feedback.grade || 'N/A'}}
					</div>
				</md-toolbar>
				<md-card-content>
					<md-content>
						<span layout="row" ng-show="!feedback.comments.length" layout-align="center center" flex>
								<span><h2>No comments</h2></span>
							</span>
						<md-list ng-show="feedback.comments.length">
							<md-list-item class="md-2-line" ng-repeat="comment in feedback.comments">
								<div class="md-list-item-text">
									<h3>Comment on {{comment.creationTime | date}}</h3>
									<p>{{comment.comment}}</p>
								</div>
							</md-list-item>
						</md-list>
					</md-content>
				</md-card-content>
			</md-card>
		</div>
	</div>
</md-content>