<md-content layout="column">
	<div layout="row" layout-xs="column">
			<div flex-xs flex-gt-xs="50" layout="column">
				<md-card>
					<md-toolbar ng-class="{'md-accent': !submission.credit && submission.submissionStatus != 'LATE', 'md-warn': submission.submissionStatus == 'LATE'}">
						<div class="md-toolbar-tools">
							<h2>
								<span>{{assignment.name}} (v.{{submission.version}})</span>
							</h2>
							<span flex></span>
							<md-button class="md-icon-button">
								<md-icon ng-if="submission.submissionStatus != 'LATE' && submission.credit">assignment_turned_in</md-icon>
								<md-icon ng-if="submission.submissionStatus != 'LATE' && !submission.credit">access_time</md-icon>
								<md-icon ng-if="submission.submissionStatus == 'LATE'">assignment_late</md-icon>
								<md-tooltip>
									{{submission.creationTime | date : 'dd-MMM-yyyy HH:mm'}}
								</md-tooltip>
							</md-button>
							<span hide-sm hide-xs ng-if="submission.submissionStatus != 'LATE' && submission.credit">{{submission.creationTime | date : 'dd/MM/yy HH:mm'}}</span>
							<span hide-sm hide-xs ng-if="submission.submissionStatus != 'LATE' && !submission.credit">Not for Credit</span>
							<span hide-sm hide-xs ng-if="submission.submissionStatus == 'LATE'">Late Submission</span>
						</div>
					</md-toolbar>
					<md-card-content>
						<md-content layout-padding>
							<p>{{submission.comment}}</p>
							<span layout="row" ng-show="submission.submittedFiles.length == 0" layout-align="center center" flex>
								<span><h2>No submission files</h2></span>
							</span>
							<md-list>
								<md-list-item class="md-2-line" ng-repeat="submissionFile in submission.submittedFiles">
									<div class="md-list-item-text">
										<h3>{{submissionFile.name}}.{{submissionFile.extension}} ({{submissionFile.size | bytes}})</h3>
										<p>Hash: {{submissionFile.hash}}</p>
									</div>
									<download-button class="md-secondary" file-id="submissionFile.fileId"></download-button>
								</md-list-item>
							</md-list>
						</md-content>
					</md-card-content>
				</md-card>
			</div>
			<div flex-xs flex-gt-xs="50" layout="column">
			<md-card>
				<md-toolbar ng-class="{'md-accent': submission.feedback.markReleased}">
					<div class="md-toolbar-tools">
						<h2>
							<span>Feedback</span>
							<span ng-if="submission.feedback.markReleased"> | Mark Released</span>
						</h2>
						<span flex></span>
						<md-button hide-gt-sm class="md-icon-button">
							<md-tooltip>Mark not released</md-tooltip>
							<md-icon>block</md-icon>
						</md-button>
						<md-icon ng-if="!submission.credit">block</md-icon>
						<span ng-if="submission.credit">
							<span hide-sm ng-if="!submission.feedback.markReleased">Not Released</span>
							<md-icon ng-if="submission.feedback.markReleased">grade</md-icon>
							<span ng-if="submission.feedback.markReleased">{{submission.feedback.grade || 'N/A'}}</span>
						</span>
					</div>
				</md-toolbar>
				<md-card-content>
					<md-content>
						<span layout="row" ng-if="!submission.feedback.commentReleased" layout-align="center center" flex>
								<span><h2>Comments not released</h2></span>
						</span>
						<span layout="row" ng-if="submission.feedback.commentReleased" ng-show="!submission.feedback.comments.length" layout-align="center center" flex>
								<span><h2>No comments</h2></span>
						</span>
						<md-list ng-if="submission.feedback.commentReleased" ng-show="submission.feedback.comments.length">
							<md-list-item class="md-2-line" ng-repeat="comment in submission.feedback.comments">
								<div class="md-list-item-text">
									<h3>Comment on {{comment.creationTime | date : 'short'}}</h3>
									<p>{{comment.comment}}</p>
								</div>
							</md-list-item>
						</md-list>
					</md-content>
				</md-card-content>
			</md-card>
		</div>
	</div>
</md-content>