<md-content layout="column">
	<md-card flex>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>
					<span>New Submission: {{assignment.name}}</span>
				</h2>
			</div>
		</md-toolbar>
		<md-card-content>
			<md-card-content ng-if="_submission" class="slide">
				<div layout="row">
					<div class="icon">
						<md-icon class="positive">check_circle</md-icon>
					</div>
					<div class="message">
						<span>Submission uploaded successfully, <countdown-action action-phrase="redirecting" seconds="3" action="action" start="uploaded"></countdown-action></span>
					</div>
				</div>
			</md-card-content>
			<md-card-content ng-if="error" class="slide error">
				<div class="error" layout="row">
					<div class="icon">
						<md-icon class="error">warning</md-icon>
					</div>
					<div class="message">
						<span>{{error.message}}</span>
					</div>
				</div>
			</md-card-content>
			<md-card-content ng-if="!_submission" layout-padding>
				<form novalidate name="newSubmissionForm" ng-submit="requiredFiles.length === 0 && newSubmissionForm.$valid && submit(submission, $event)">
					<md-list>
						<md-list-item class="md-2-line" ng-repeat="requiredFile in requiredFiles" ng-hide="requiredFile.hidden">
							<div class="md-list-item-text">
								<h3>Required: {{requiredFile.fileName}}[.{{requiredFile.allowedExtension}}] {{requiredFile.file.name}}</h3>
								<p>Max File Size: {{requiredFile.maxFileSize | bytes}}</p>
							</div>
							<md-icon class="md-secondary" aria-label="Upload required file" ng-click="addSubmissionFile($event, requiredFile, $index)">file_upload</md-icon>
						</md-list-item>
						<span layout="row" ng-show="requiredFiles.length > 0 && submission.submissionFiles.length === 0" layout-align="center center" flex>
							<span><h2>No submission files</h2></span>
						</span>
						<md-list-item class="md-2-line" ng-repeat="submissionFile in submission.submissionFiles" ng-model="submissionFile" ng-click="removeSubmissionFile($event, submissionFile, $index)">
							<div class="md-list-item-text">
								<h3>Added: {{submissionFile.file.name}} ({{submissionFile.file.size | bytes}})</h3>
								<p>Click to remove</p>
							</div>
							<md-icon class="md-secondary" aria-label="Valid submission file" style="fill: #4CAF50">check_circle</md-icon>
						</md-list-item>
					</md-list>
					<md-input-container class="md-block">
						<label>Comment</label>
						<textarea rows="5" ng-model="submission.comment" name="comment" md-maxlength="150" rows="3" md-select-on-focus style="height: 87px;"></textarea>
						<div ng-messages="newSubmissionForm.comment.$error" role="alert">
							<div ng-message="md-maxlength">This comment is too long.</div>
						</div>
					</md-input-container>
					<div layout="row">
						<md-button class="md-raised md-primary" ng-disabled="requiredFiles.length !== 0 || !newSubmissionForm.$valid" type="submit">Submit</md-button>
					</div>
				</form>
			</md-content>
		</md-card-content>
	</md-card>
</md-content>