<md-content layout="column">
	<div layout="row" layout-xs="column">
			<div flex-xs flex-gt-xs="70" layout="column">
				<md-card>
					<md-toolbar>
						<div class="md-toolbar-tools">
							<h2>
								<span>{{assignment.name}}: Submission #{{submission.version}}</span>
							</h2>
						</div>
					</md-toolbar>
					<md-card-content>
						<md-content layout-padding>
							<p>{{submission.comment}}</p>
							<span layout="row" ng-show="submissionFiles.length == 0" layout-align="center center" flex>
								<span><h2>No submission files</h2></span>
							</span>
						<md-list>
							<md-list-item class="md-2-line" ng-repeat="submissionFile in submissionFiles">
								<div class="md-list-item-text">
									<h3>{{submissionFile.name}}.{{submissionFile.extension}} ({{submissionFile.size | bytes}})</h3>
									<p>Hash: {{submissionFile.hash}}</p>
								</div>
								<ng-md-icon class="md-secondary" aria-label="Download submission file" icon="file_download" ng-click="download(submissionFile.fileId)"></ng-md-icon>
							</md-list-item>
						</md-list>			
						</md-content>
					</md-card-content>
				</md-card>
			</div>
			<div flex-xs flex-gt-xs="30" layout="column">
			<md-card>
				<md-toolbar>
					<div class="md-toolbar-tools">
						<h2>
							<span>Status</span>
						</h2>
					</div>
				</md-toolbar>
				<md-card-content>
					<md-content>
						{{submission.submissionStatus}}
					</md-content>
				</md-card-content>
			</md-card>
		</div>
	</div>
</md-content>