<md-content layout="column">
	<md-card flex>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>
					<span>New Submission: {{assignment.name}}</span>
				</h2>
			</div>
		</md-toolbar>
		<md-card-content>
			<md-content layout-padding>
				<form novalidate name="newSubmissionForm" ng-show="!submitting">
					<span layout="row" ng-show="requiredFiles.length == 0" layout-align="center center" flex>
							<span><h2>No required files</h2></span>
						</span>
						<md-list>
							<md-list-item class="md-2-line" ng-repeat="requiredFile in requiredFiles" ng-click="removeUploadedFile($event, requiredFile)" aria-label="Remove uploaded file">
									<div class="md-list-item-text" ng-if="requiredFile.file">
										<h3>Added: {{requiredFile.file.name}} ({{requiredFile.file.size | bytes}})</h3>
										<p>Click to remove</p>
									</div>
									
									<div class="md-list-item-text" ng-if="!requiredFile.file">
										<h3>Required: {{requiredFile.fileName}}[.{{requiredFile.allowedExtension}}] {{requiredFile.file.name}}</h3>
										<p>Max File Size: {{requiredFile.maxFileSize | bytes}}</p>
									</div>
									<ng-md-icon ng-if="!requiredFile.file" class="md-secondary" aria-label="Upload required file" icon="file_upload" ng-click="uploadRequiredFile($event, requiredFile)"></ng-md-icon>
									<ng-md-icon ng-if="requiredFile.file" class="md-secondary" aria-label="Valid submission file" style="fill: #4CAF50" icon="check_circle"></ng-md-icon>
							</md-list-item>
						</md-list>
					<md-input-container class="md-block">
						<label>Comments (Optional)</label>
						<textarea rows="5" ng-model="submission.comments" md-maxlength="150" rows="5" md-select-on-focus style="height: 147px;"></textarea>
					</md-input-container>
					<div layout="row">
						<md-button class="md-raised md-primary" ng-disabled="!canSubmit()" ng-click="sendSubmission()">Submit</md-button>
					</div>
				</form>
			</md-content>
		</md-card-content>
	</md-card>
</md-content>