<md-content layout="column">
	<div layout="row" layout-xs="column">
		<div flex-xs flex-gt-xs="50" layout="column">
			<md-card>
				<md-toolbar>
					<div class="md-toolbar-tools">
						<h2>
							<span>{{assignment.name}}</span>
						</h2>
					</div>
				</md-toolbar>
				<md-card-content>
					<md-content>
						{{assignment.description}}
						<span layout="row" ng-show="suppliedFiles.length == 0" layout-align="center center" flex>
							<span><h2>No supplied files</h2></span>
						</span>
						<md-list>
							<md-list-item class="md-2-line" ng-repeat="suppliedFile in suppliedFiles">
								<div class="md-list-item-text">
									<h3>{{suppliedFile.name}}.{{suppliedFile.extension}} ({{suppliedFile.size | bytes}})</h3>
									<p>{{suppliedFile.contentType}}</p>
								</div>
								<download-button class="md-secondary" file-id="suppliedFile.fileId"></download-button>
							</md-list-item>
						</md-list>
					</md-content>
				</md-card-content>
			</md-card>
		</div>
		<div flex-xs flex-gt-xs="50" layout="column">
			<md-card>
				<md-toolbar>
					<div class="md-toolbar-tools">
						<h2>
							<span>Required Files</span>
						</h2>
					</div>
				</md-toolbar>
				<md-card-content>
					<md-content>
						<span layout="row" ng-show="requiredFiles.length == 0" layout-align="center center" flex>
							<span><h2>No required files</h2></span>
						</span>
						<md-list>
							<md-list-item class="md-2-line" ng-repeat="requiredFile in requiredFiles">
								<div class="md-list-item-text">
									<h3>{{requiredFile.fileName}}[.{{requiredFile.allowedExtension}}]</h3>
									<p>Max File Size: {{requiredFile.maxFileSize | bytes}}</p>
								</div>
							</md-list-item>
						</md-list>
					</md-content>
				</md-card-content>
			</md-card>
		</div>
	</div>
	<md-card flex>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>
					<span>Submissions</span>
				</h2>
				<span flex></span>
				<md-button class="md-raised" aria-label="New Submission" ui-sref="base.app.courses.details.assignments.details.submissions.new">
					New Submission
				</md-button>
			</div>
		</md-toolbar>
		<md-card-content>
			<md-content>
				<span flex layout="row" layout-align="center center" ng-show="!submissions.length">
					<span><h3>No submissions!</h3></span>
				</span>
				<md-list ng-show="submissions.length">
					<md-list-item class="md-2-line secondary-button-padding" ng-repeat="submission in submissions" ui-sref="base.app.courses.details.assignments.details.submissions.details({submissionId: submission.submissionId})">
						<div class="md-list-item-text">
							<h3>Submission #{{$index + 1}} (ID: {{submission.submissionId}})</h3>
							<p>Submitted at: {{submission.creationTime | date}}</p>
						</div>
						<md-icon ng-class="submissionIcons.{{submission.submissionStatus}}.iconClass" aria-label=submissionIcons.{{submission.submissionStatus}}.description" class="md-secondary">{{submissionIcons[submission.submissionStatus].icon}}</md-icon>
					</md-list-item>
				</md-list>
			</md-content>
		</md-card-content>
	</md-card>
</md-content>