<md-content layout="column">
	<div layout="row" layout-sm="column">
		<div flex-sm flex-gt-sm="40">
			<md-card flex>
				<md-toolbar>
					<div class="md-toolbar-tools">
						<h2>
							<span>{{course.shortName}}: {{course.name}}</span>
						</h2>
						<span flex></span>
						<md-menu md-offset="-200 8">
							<md-button class="md-icon-button" aria-label="More options" ng-click="$mdOpenMenu($event)">
								<md-icon aria-label="More options">more_vert</md-icon>
							</md-button>
							<md-menu-content width="4">
								<md-menu-item>
									<md-button aria-label="User Details" ng-click="edit(course)">
										<md-icon md-menu-align-target>edit</md-icon>
										Edit Course
									</md-button>
								</md-menu-item>
							</md-menu-content>
						</md-menu>
					</div>
				</md-toolbar>
				<md-card-content>
					<md-content>
						<span ng-if="!editCourse">{{course.description}}</span>
						<form name="editCourseDetailsForm" ng-if="editCourse" class="slide" ng-submit="editCourseDetailsForm.$valid && save(_course)">
							<md-input-container class="md-block">
								<label>Description</label>
								<textarea ng-model="_course.description" md-maxlength="255" rows="5" style="height: 87px;" required name="description"></textarea>
								<div ng-messages="editCourseDetailsForm.description.$error">
									<div ng-message="required">Description is required.</div>
								</div>
							</md-input-container>
							<div layout="row" layout-align="center right">
								<span flex></span>
								<md-button class="md-icon-button" ng-click="cancelEdit()">
									<md-icon aria-label="Close edit">close</md-icon>
								</md-button>
								<md-button type="submit" class="md-primary md-raised md-icon-button" confirm-action confirm-title="Edit Course" confirm-content="Are you sure you want to save the edit of this course"ng-disabled="editCourseDetailsForm.$pristine">
									<md-icon>check</md-icon>
								</md-button>
							</div>
						</form>
						<md-list>
							<md-list-item class="md-2-line" ng-repeat="courseOwner in course.courseOwners">
								<div class="md-list-item-text">
									<h3>{{courseOwner.title}} {{courseOwner.firstName}} {{courseOwner.lastName}} ({{courseOwner.userName}})</h3>
									<p>Course Owner</p>
								</div>
							</md-list-item>
						</md-list>
					</md-content>
				</md-card-content>
			</md-card>
			<md-card flex>
				<md-toolbar>
					<div class="md-toolbar-tools">
						<h2>
							<span>Markers</span>
						</h2>
						<span flex></span>
						<md-menu mmd-offset="-200 8">
							<md-button class="md-icon-button" aria-label="More options" ng-click="$mdOpenMenu($event)">
								<md-icon aria-label="More options">more_vert</md-icon>
							</md-button>
							<md-menu-content width="4">
								<md-menu-item>
									<md-button aria-label="User Details" ng-click="openAddMarkerDialog($event)">
										<md-icon md-menu-align-target>add_circle_outline</md-icon>
										Add Marker
									</md-button>
								</md-menu-item>
							</md-menu-content>
						</md-menu>
					</div>
				</md-toolbar>
				<md-card-content>
					<md-content>
						<span flex layout="row" layout-align="center center" ng-show="!course.markers.length">
							<span><h3>No markers!</h3></span>
						</span>
						<md-list>
							<md-list-item class="md-2-line" ng-repeat="marker in course.markers" href="mailto:{{marker.email}}">
								<div class="md-list-item-text">
									<h3>{{marker.title}} {{marker.firstName}} {{marker.lastName}} ({{marker.userName}})</h3>
									<p>Marker</p>
								</div>
							</md-list-item>
						</md-list>
					</md-content>
				</md-card-content>
			</md-card>
			<md-card flex>
				<md-toolbar>
					<div class="md-toolbar-tools">
						<h2>
							<span>Enrollments</span>
						</h2>
						<span flex></span>
						<md-menu md-offset="-200 8">
							<md-button class="md-icon-button" aria-label="More options" ng-click="$mdOpenMenu($event)">
								<md-icon aria-label="More options">more_vert</md-icon>
							</md-button>
							<md-menu-content width="4">
								<md-menu-item>
									<md-button aria-label="User Details" ui-sref="base.app.courseOwner.courses.details.enrollments">
										<md-icon md-menu-align-target>settings</md-icon>
										Manage Enrollments
									</md-button>
								</md-menu-item>
							</md-menu-content>
						</md-menu>
					</div>
				</md-toolbar>
				<md-card-content>
					<md-content>
						<span flex layout="row" layout-align="center center" ng-show="!course.students.length">
							<span><h3>No enrollments!</h3></span>
						</span>
						<md-chips ng-model="course.students" readonly="true" ng-if="course.students.length">
							<md-chip-template>
								<strong>{{$chip.firstName}} {{$chip.lastName}}</strong>
								<em>({{$chip.userName}})</em>
							</md-chip-template>
						</md-chips>
					</md-content>
				</md-card-content>
			</md-card>
		</div>
		<div flex-sm flex-gt-sm="60">
			<md-card flex>
				<md-toolbar>
					<div class="md-toolbar-tools">
						<h2>
							<span>Announcements</span>
						</h2>
						<span flex></span>
						<md-menu md-offset="-200 8">
							<md-button class="md-icon-button" aria-label="More options" ng-click="$mdOpenMenu($event)">
								<md-icon aria-label="More options">more_vert</md-icon>
							</md-button>
							<md-menu-content width="4">
								<md-menu-item>
									<md-button aria-label="User Details" ng-click="newAnnouncement($event)">
										<md-icon md-menu-align-target>add_circle_outline</md-icon>
										New Announcement
									</md-button>
								</md-menu-item>
							</md-menu-content>
						</md-menu>
					</div>
				</md-toolbar>
				<md-card-content>
					<md-content>
						<span flex layout="row" layout-align="center center" ng-show="!course.announcements.length">
							<span><h3>No announcements!</h3></span>
						</span>
						<md-list ng-show="course.announcements.length">
							<md-list-item class="md-3-line md-long-text" ng-repeat="announcement in course.announcements">
								<div class="md-list-item-text">
									<h3>{{announcement.title}} <span class="md-caption">{{announcement.creationTime | relativeTime}}</span></h3>
									<p>{{announcement.content}}</p>
								</div>
								<span flex></span>
								<md-button aria-label="Delete announcement" class="md-secondary" ng-class="{'md-icon-button': !announcement.failed}" ng-click="deleteAnnouncement(announcement, $event)" ng-disabled="announcement.deleting || announcement.failed">
									<md-icon ng-if="!announcement.deleting && !announcement.failed">delete</md-icon>
									<span ng-if="announcement.failed">
										<md-icon aria-label="Error">error</md-icon>
										Failed
									</span>
								</md-button>
								<md-progress-circular class="md-secondary" md-diameter="24" md-mode="indeterminate" ng-if="announcement.deleting"></md-progress-circular>
							</md-list-item>
						</md-list>
					</md-content>
				</md-card-content>
			</md-card>
			<md-card flex>
				<md-toolbar>
					<div class="md-toolbar-tools">
						<h2>
							<span>Assignments</span>
						</h2>
						<span flex></span>
						<md-menu md-offset="-200 8">
							<md-button class="md-icon-button" aria-label="More options" ng-click="$mdOpenMenu($event)">
								<md-icon aria-label="More options">more_vert</md-icon>
							</md-button>
							<md-menu-content width="4">
								<md-menu-item>
									<md-button aria-label="User Details" ui-sref="base.app.courseOwner.courses.details.assignments.new">
										<md-icon md-menu-align-target>add_circle_outline</md-icon>
										New Assignment
									</md-button>
								</md-menu-item>
								<md-menu-item>
									<md-button ui-sref="base.app.courseOwner.courses.details.assignments" aria-label="action.description">
										<md-icon md-menu-align-target>view_list</md-icon>
										View All
									</md-button>
								</md-menu-item>
							</md-menu-content>
						</md-menu>
					</div>
				</md-toolbar>
				<md-card-content>
					<md-content>
						<span flex layout="row" layout-align="center center" ng-show="!course.assignments.length">
							<span><h3>No open assignments!</h3></span>
						</span>
						<md-list ng-show="course.assignments.length">
							<md-list-item class="md-2-line" ng-repeat="assignment in course.assignments" ui-sref="base.app.courseOwner.courses.details.assignments.details({assignmentId: assignment.assignmentId})">
								<div class="md-list-item-text">
									<h3>{{assignment.name}}</h3>
									<p><due-date date-string="assignment.dueTime"></due-date></p>
								</div>
							</md-list-item>
						</md-list>
					</md-content>
				</md-card-content>
			</md-card>
		</div>
	</div>
</md-content>