<md-content layout="column">
	<div layout="row" layout-sm="column">
		<div flex-sm flex-gt-sm="40">
			<md-card flex>
				<md-toolbar>
					<div class="md-toolbar-tools">
						<h2>
							<span>{{course.shortName}}: {{course.name}}</span>
						</h2>
						<span flex></span>
						<md-menu md-position-mode="target-right target">
							<md-button class="md-icon-button" aria-label="More options" ng-click="$mdOpenMenu($event)">
								<md-icon aria-label="More options">more_vert</md-icon>
							</md-button>
							<md-menu-content width="4">
								<md-menu-item>
									<md-button aria-label="User Details" ui-sref="base.app.courseOwner.courses.details.edit">
										<md-icon md-menu-align-target>edit</md-icon>
										Edit Course
									</md-button>
								</md-menu-item>
							</md-menu-content>
						</md-menu>
					</div>
				</md-toolbar>
				<md-card-content>
					<md-content>
						{{course.description}}
						<md-list>
							<md-list-item class="md-2-line" ng-repeat="courseOwner in courseOwners">
								<div class="md-list-item-text">
									<h3>{{courseOwner.title}} {{courseOwner.firstName}} {{courseOwner.lastName}} ({{courseOwner.userName}})</h3>
									<p>Course Owner</p>
								</div>
							</md-list-item>
						</md-list>
					</md-content>
				</md-card-content>
			</md-card>
			<md-card flex>
				<md-toolbar>
					<div class="md-toolbar-tools">
						<h2>
							<span>Markers</span>
						</h2>
						<span flex></span>
						<md-menu md-position-mode="target-right target">
							<md-button class="md-icon-button" aria-label="More options" ng-click="$mdOpenMenu($event)">
								<md-icon aria-label="More options">more_vert</md-icon>
							</md-button>
							<md-menu-content width="4">
								<md-menu-item>
									<md-button aria-label="User Details" ui-sref="base.app.courseOwner.courses.details.markers">
										<md-icon md-menu-align-target>add_circle_outline</md-icon>
										Add Marker
									</md-button>
								</md-menu-item>
							</md-menu-content>
						</md-menu>
					</div>
				</md-toolbar>
				<md-card-content>
					<md-content>
						<md-list>
							<md-list-item ng-repeat="marker in markers">

							</md-list-item>
						</md-list>
					</md-content>
				</md-card-content>
			</md-card>
		</div>
		<div flex-sm flex-gt-sm="60">
			<md-card flex>
				<md-toolbar>
					<div class="md-toolbar-tools">
						<h2>
							<span>Students</span>
						</h2>
						<span flex></span>
						<md-menu md-position-mode="target-right target">
							<md-button class="md-icon-button" aria-label="More options" ng-click="$mdOpenMenu($event)">
								<md-icon aria-label="More options">more_vert</md-icon>
							</md-button>
							<md-menu-content width="4">
								<md-menu-item>
									<md-button aria-label="User Details" ui-sref="base.app.courseOwner.courses.details.students">
										<md-icon md-menu-align-target>settings</md-icon>
										Manage Students
									</md-button>
								</md-menu-item>
							</md-menu-content>
						</md-menu>
					</div>
				</md-toolbar>
				<md-card-content>
					<md-content>
						<md-chips ng-model="students" readonly="true">
							<md-chip-template>
								<strong>{{$chip.firstName}} {{$chip.lastName}}</strong>
								<em>({{$chip.userName}})</em>
							</md-chip-template>
						</md-chips>
					</md-content>
				</md-card-content>
			</md-card>
			<md-card flex>
				<md-toolbar>
					<div class="md-toolbar-tools">
						<h2>
							<span>Assignments</span>
						</h2>
						<span flex></span>
						<md-menu md-position-mode="target-right target">
							<md-button class="md-icon-button" aria-label="More options" ng-click="$mdOpenMenu($event)">
								<md-icon aria-label="More options">more_vert</md-icon>
							</md-button>
							<md-menu-content width="4">
								<md-menu-item>
									<md-button aria-label="User Details" ui-sref="base.app.courseOwner.courses.details.assignments.new">
										<md-icon md-menu-align-target>add_circle_outline</md-icon>
										New Assignment
									</md-button>
								</md-menu-item>
								<md-menu-item>
									<md-button ui-sref="base.app.courseOwner.courses.details.assignments" aria-label="action.description">
										<md-icon md-menu-align-target>view_list</md-icon>
										View All
									</md-button>
								</md-menu-item>
							</md-menu-content>
						</md-menu>
					</div>
				</md-toolbar>
				<md-card-content>
					<md-content>
				<span flex layout="row" layout-align="center center" ng-show="!assignments.length">
					<span><h3>No open assignments!</h3></span>
				</span>
						<md-list ng-show="assignments.length">
							<md-list-item class="md-2-line" ng-repeat="assignment in assignments" ui-sref="base.app.courseOwner.courses.details.assignments.details({assignmentId: assignment.assignmentId})">
								<div class="md-list-item-text">
									<h3>{{assignment.name}}</h3>
									<p><due-date date-string="assignment.dueTime"></due-date></p>
								</div>
							</md-list-item>
						</md-list>
					</md-content>
				</md-card-content>
			</md-card>
		</div>
	</div>
</md-content>