<div layout="row" layout-align="center center">
	<md-card flex-xs="100" flex-gt-xs="20">
		<img src="src/img/login-bg.jpg" class="md-card-image">
		<md-card-content ng-repeat="state in states" class="top-box" ng-show="state.enabled" layout="row">
			<div class="icon">
				<md-icon class="info">{{state.icon}}</md-icon>
			</div>
			<div class="message" flex>
				{{state.message}}
			</div>
		</md-card-content>

		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">FACTS Login</span>
			</md-card-title-text>
		</md-card-title>
		<md-card-content>
			<form name="authorizationForm" ng-submit="authorizationForm.$valid && authenticate(user)">
				<div class="row">
					<md-input-container class="md-block" flex>
						<label>Username</label>
						<input ng-model="user.username" type="text" name="username" required auto-focus="true">
						<div ng-messages="authorizationForm.username.$error">
							<div ng-message="required">Username is required</div>
						</div>
					</md-input-container>
				</div>
				<div class="row">
					<md-input-container class="md-block" flex>
						<label>Password</label>
						<input ng-model="user.password" type="password" name="password" required>
						<div ng-messages="authorizationForm.password.$error">
							<div ng-message="required">Password is required</div>
						</div>
					</md-input-container>
				</div>
				<div layout="row">
					<md-button type="submit" ng-disabled="!authorizationForm.$valid" class="md-raised md-primary">Login</md-button>
					<div layout="row" class="login-error" shake-on="attempts" ng-if="error">
						<div class="icon">
							<md-icon class="error">error</md-icon>
						</div>
						<div class="message">
							Invalid login details.
						</div>
					</div>
				</div>
			</form>
		</md-card-content>
	</md-card>
</div>
