<md-content layout="column">
	<md-card>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>
					<span>Assignment</span>
				</h2>
				<span flex></span>
				<md-menu md-offset="-200 8">
					<md-button class="md-icon-button" aria-label="Edit" ng-click="$mdOpenMenu($event)">
						<md-icon>more_vert</md-icon>
					</md-button>
					<md-menu-content width="4">
						<md-menu-item>
							<md-button ng-click="delete(assignment)" confirm-action confirm-title="Delete Assignment" confirm-content="Are you sure want to delete the assignment '{{assignment.name}}' (ID: {{assignment.assignmentId}})?" confirm="Delete">
								<md-icon aria-label="Delete Assignment" md-menu-align-target>delete</md-icon>Delete Assignment
							</md-button>
						</md-menu-item>
						<md-menu-item>
							<md-button ui-sref="base.app.courseOwner.courses.details.assignment.details.edit">
								<md-icon aria-label="Edit Assignment" md-menu-align-target>edit</md-icon>Edit Assignment
							</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
			</div>
		</md-toolbar>
		<md-card-content>
			<md-content>
				<div layout="row" layout-xs="column">
					<div flex-xs flex-gt-xs="50" layout="column">
						<md-card>
							<md-toolbar>
								<div class="md-toolbar-tools">
									<h2>
										<span>{{assignment.name}}</span>
									</h2>
									<span flex></span>
									<md-button class="md-icon-button">
										<md-icon>access_time</md-icon>
										<md-tooltip>
											{{assignment.dueTime | date : 'dd-MMM-yyyy HH:mm'}}
										</md-tooltip>
									</md-button>
									<span hide-sm hide-xs>{{assignment.dueTime | relativeTime}}</span>
								</div>
							</md-toolbar>
							<md-card-content>
								<md-content>
									{{assignment.description}}
									<span layout="row" ng-show="assignment.suppliedFiles.length == 0" layout-align="center center" flex>
										<span><h2>No supplied files</h2></span>
									</span>
									<md-list>
										<md-list-item class="md-2-line" ng-repeat="suppliedFile in assignment.suppliedFiles">
											<div class="md-list-item-text">
												<h3>{{suppliedFile.name}}.{{suppliedFile.extension}} ({{suppliedFile.size | bytes}})</h3>
												<p>{{suppliedFile.contentType}}</p>
											</div>
											<download-button class="md-secondary" file-id="suppliedFile.fileId"></download-button>
										</md-list-item>
									</md-list>
								</md-content>
							</md-card-content>
						</md-card>
					</div>
					<div flex-xs flex-gt-xs="50" layout="column">
						<md-card>
							<md-toolbar>
								<div class="md-toolbar-tools">
									<h2>
										<span>Required Files</span>
									</h2>
								</div>
							</md-toolbar>
							<md-card-content>
								<md-content>
									<span layout="row" ng-show="assignment.requiredFiles.length == 0" layout-align="center center" flex>
										<span><h2>No required files</h2></span>
									</span>
									<md-list>
										<md-list-item class="md-2-line" ng-repeat="requiredFile in assignment.requiredFiles">
											<div class="md-list-item-text">
												<h3>{{requiredFile.fileName}}[.{{requiredFile.allowedExtension}}]</h3>
												<p>Max File Size: {{requiredFile.maxFileSize | bytes}}</p>
											</div>
										</md-list-item>
									</md-list>
								</md-content>
							</md-card-content>
						</md-card>
					</div>
				</div>
			</md-content>
		</md-card-content>
	</md-card>
	<md-card flex>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>
					<span>Submissions</span>
				</h2>
				<span flex></span>
				<md-menu md-offset="-200 8">
					<md-button class="md-icon-button" aria-label="Edit" ng-click="$mdOpenMenu($event)">
						<md-icon>more_vert</md-icon>
					</md-button>
					<md-menu-content width="4">
						<md-menu-item>
							<md-button ng-click="assignMarkers($event)" aria-label="Assign markers">
								<md-icon md-menu-align-target>link</md-icon>
								Assign Markers
							</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
			</div>
		</md-toolbar>
		<md-card-content>
			<md-content>
				<md-table-container>
					<table md-table>
						<thead md-head md-order="query.order">
							<tr md-row>
								<th md-column md-order-by="submitter.userName"><span>Student Details</span></th>
								<th md-column md-order-by="version"><span>Version</span></th>
								<th md-column md-order-by="creationTime"><span>Time</span></th>
								<th md-column md-order-by="submissionStatus"><span>Status</span></th>
								<th md-column><span>Feedback</span></th>
								<th md-column><span>Submission</span></th>
							</tr>
						</thead>
						<tbody md-body>
							<tr md-row ng-repeat="submission in submissions | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
								<td md-cell>{{submission.submitter.firstName || submission.submitter.userName}} {{submission.submitter.lastName}} ({{submission.submitter.studentId || 'No enrollment'}})</span></td>
								<td md-cell>{{submission.version}}</td>
								<td md-cell>{{submission.creationTime | date : 'short'}}</td>
								<td md-cell>{{submission.submissionStatus}}</td>
								<td md-cell>{{submission.feedback ? 'Feedback Received' : 'No feedback yet'}}</td>
								<td md-cell><a ui-sref="base.app.courseOwner.courses.details.assignments.details({submissionId: submission.submissionId})" target="_blank">View #{{submission.submissionId}} <md-icon>open_in_new</md-icon></a></td>
							</tr>
						</tbody>
					</table>
				</md-table-container>
				<md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{submissions.length}}" md-boundary-links="false"></md-table-pagination>
			</md-content>
		</md-card-content>
	</md-card>
</md-content>