<md-content layout="column">
	<md-card flex>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>
					<span>Assignment Workflow</span>
				</h2>
				<span flex></span>
				<md-menu md-position-mode="target-right target">
					<md-button class="md-icon-button" aria-label="Edit" ng-click="$mdOpenMenu($event)">
						<md-icon>more_vert</md-icon>
					</md-button>
					<md-menu-content width="4">
						<md-menu-item ng-repeat="action in actions">
							<md-button ng-click="action.action(assignment)" aria-label="action.description">
								<md-icon md-menu-align-target>{{action.icon}}</md-icon>
								{{action.description}}
							</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
			</div>
		</md-toolbar>
		<md-card-content>
			<md-content>
				Some tools go here...
			</md-content>
		</md-card-content>
	</md-card>
	<md-card>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>
					<span>Assignment Preview</span>
				</h2>
				<span flex></span>
				<md-menu md-position-mode="target-right target">
					<md-button class="md-icon-button" aria-label="Edit" ng-click="$mdOpenMenu($event)">
						<md-icon>more_vert</md-icon>
					</md-button>
					<md-menu-content width="4">
						<md-menu-item ng-repeat="action in previewActions">
							<md-button ng-click="action.action(assignment, $event)" aria-label="action.description">
								<md-icon md-menu-align-target>{{action.icon}}</md-icon>
								{{action.description}}
							</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
			</div>
		</md-toolbar>
		<md-card-content>
			<md-content>
				<div layout="row" layout-xs="column">
					<div flex-xs flex-gt-xs="50" layout="column">
						<md-card>
							<md-toolbar>
								<div class="md-toolbar-tools">
									<h2>
										<span>{{assignment.name}}</span>
									</h2>
								</div>
							</md-toolbar>
							<md-card-content>
								<md-content>
									{{assignment.description}}
									<span layout="row" ng-show="suppliedFiles.length == 0" layout-align="center center" flex>
										<span><h2>No supplied files</h2></span>
									</span>
									<md-list>
										<md-list-item class="md-2-line" ng-repeat="suppliedFile in suppliedFiles">
											<div class="md-list-item-text">
												<h3>{{suppliedFile.name}}.{{suppliedFile.extension}} ({{suppliedFile.size | bytes}})</h3>
												<p>{{suppliedFile.contentType}}</p>
											</div>
											<download-button class="md-secondary" file-id="suppliedFile.fileId"></download-button>
										</md-list-item>
									</md-list>
								</md-content>
							</md-card-content>
						</md-card>
					</div>
					<div flex-xs flex-gt-xs="50" layout="column">
						<md-card>
							<md-toolbar>
								<div class="md-toolbar-tools">
									<h2>
										<span>Required Files</span>
									</h2>
								</div>
							</md-toolbar>
							<md-card-content>
								<md-content>
									<span layout="row" ng-show="requiredFiles.length == 0" layout-align="center center" flex>
										<span><h2>No required files</h2></span>
									</span>
									<md-list>
										<md-list-item class="md-2-line" ng-repeat="requiredFile in requiredFiles">
											<div class="md-list-item-text">
												<h3>{{requiredFile.fileName}}[.{{requiredFile.allowedExtension}}]</h3>
												<p>Max File Size: {{requiredFile.maxFileSize | bytes}}</p>
											</div>
										</md-list-item>
									</md-list>
								</md-content>
							</md-card-content>
						</md-card>
					</div>
				</div>
			</md-content>
		</md-card-content>
	</md-card>
</md-content>