<md-content layout="column">
	<md-card flex>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>
					<span>New Assignment<span ng-show="assignment.name"> - {{assignment.name}}</span></span>
				</h2>
				<span flex></span>
			</div>
		</md-toolbar>
		<md-card-content class="tab-with-fab">
			<md-content layout-padding>
				<form ng-submit="review(assignment)" name="newAssignmentForm">
					<md-button ng-class="{ visible: selectedTab==1 }" class="md-fab md-primary md-fab-bottom-right" ng-click="suppliedFileDialog($event)" aria-label="Add New Supplied File">+</md-button>
					<md-button ng-class="{ visible: selectedTab==2 }" class="md-fab md-primary md-fab-bottom-right" ng-click="requiredFileDialog($event)" aria-label="Add New Required File">+</md-button>
					<md-tabs md-selected="selectedTab" md-dynamic-height md-border-bottom>
						<md-tab label="Basic Details">
							<md-content class="md-padding">
								<md-input-container class="md-block" flex-gt-xs>
									<label>
										Assignment Name
									</label>
									<input ng-model="assignment.name" name="name" required>
									<div ng-messages="newAssignmentForm.name.$error">
										<div ng-message="required">Assignment name is required.</div>
									</div>
								</md-input-container>
								<div layout-gt-xs="row">
									<md-datepicker ng-model="assignment.openTime" md-placeholder="Open time"></md-datepicker>
									<div layout="column">
										<md-datepicker ng-model="assignment.dueTime" required md-placeholder="Due time *" name="dueTime" md-min-date="assignment.openTime"></md-datepicker>
										<style type="text/css">
											.validation-messages {
												font-size: 12px;
												color: #dd2c00;
												margin: 10px 0 0 25px;
											}
										</style>
										<div class="validation-messages" ng-messages="newAssignmentForm.dueTime.$error">
											<div ng-message="valid">The entered date is invalid.</div>
											<div ng-message="required">Due date is required.</div>
										</div>
									</div>

								</div>
								<md-input-container class="md-block">
									<label>Description</label>
									<textarea ng-model="assignment.description" md-maxlength="255" rows="5" md-select-on-focus style="height: 147px;"></textarea>
								</md-input-container>
								<md-checkbox ng-model="assignment.groupBased" aria-label="Is Group based">Group Based</md-checkbox>
							</md-content>
						</md-tab>
						<md-tab label="Supplied Files{{assignment.suppliedFiles.length ? ' (' + assignment.suppliedFiles.length + ')' : ''}}">
							<md-content class="md-padding">
								<span layout="row" ng-show="assignment.suppliedFiles.length == 0" layout-align="center center" flex>
									<span><h2>No supplied files</h2></span>
								</span>
								<md-list>
									<md-list-item class="md-2-line" ng-repeat="suppliedFile in assignment.suppliedFiles">
										<div class="md-list-item-text">
											<h3>{{suppliedFile.file.name}} ({{suppliedFile.file.size | bytes}})</h3>
											<p>{{suppliedFile.file.type}}</p>
										</div>
										<md-icon class="md-secondary" ng-click="removeLine(assignment.suppliedFiles, $index)" aria-label="Remove supplied file">remove_circle_outline</md-icon>
									</md-list-item>
								</md-list>
							</md-content>
						</md-tab>
						<md-tab label="Required Files{{assignment.requiredFiles.length ? ' (' + assignment.requiredFiles.length + ')' : ''}}">
							<md-content class="md-padding">
								<span layout="row" ng-show="assignment.requiredFiles.length == 0" layout-align="center center" flex>
									<span><h2>No required files</h2></span>
								</span>
								<md-list>
									<md-list-item class="md-2-line" ng-repeat="requiredFile in assignment.requiredFiles">
										<div class="md-list-item-text">
											<h3>{{requiredFile.fileName}}[.{{requiredFile.allowedExtension}}]</h3>
											<p>Max File Size: {{requiredFile.maxFileSize | bytes}}</p>
										</div>
										<md-icon class="md-secondary" ng-click="removeLine(assignment.requiredFiles, $index)" aria-label="Remove required file">remove_circle_outline</md-icon>
									</md-list-item>
								</md-list>
							</md-content>
						</md-tab>
						<md-tab ng-if="assignment.groupBased" label="Group Requirements">
							<md-content class="md-padding" layout-align="center center">
								<span flex><h2>This functionality is still in progress. Check back later.</h2></span>
							</md-content>
						</md-tab>
					</md-tabs>
					<md-button type="submit" class="md-raised md-primary" ng-disabled="!newAssignmentForm.$valid" aria-label="Review new assignment">
						Review Assignment
					</md-button>
				</form>
			</md-content>
		</md-card-content>
	</md-card>
</md-content>