<md-content layout="column">
	<md-card flex>
		<md-toolbar class="md-whiteframe-4dp">
			<div class="md-toolbar-tools">
				<h2>
					<span>New Submission: {{assignment.title}}</span>
				</h2>
			</div>
		</md-toolbar>
		<div ng-if="errorMessages.length > 0" class="error-text-box error-text md-caption">
			Submission Errors:
			<ul>
				<li ng-repeat="errorMessage in errorMessages">
					{{errorMessage}}
				</li>
			</ul>
		</div>
		<md-card-content ng-class="{'md-whiteframe-10dp': error}">
			<md-content layout-padding>
				<form novalidate name="newSubmissionForm" ng-show="!submitting">
					<h3>Required Files</h3>
					<table md-table class="submission-files">
						<thead md-head>
							<tr md-row>
								<th md-column>File Name</th>
								<th md-column>Allowed Extension(s)</th>
								<th md-column>Max File Size</th>
								<th md-column>File</th>
								<th md-column>File Info</th>
							</tr>
						</thead>
						<tbody md-body>
							<tr md-row ng-repeat="file in files" ng-class="{invalid: file.selectedFile && !isValid(file)}">
								<td md-cell>{{file.name}}</td>
								<td md-cell>{{file.type.join(', ')}}</td>
								<td md-cell>{{file.maxSize | bytes}}</td>
								<td md-cell><input data-file type="file" ng-model="file.selectedFile"/></td>
								<td md-cell><span ng-show="file.selectedFile">{{file.selectedFile.type}} ({{file.selectedFile.size | bytes}})</span></td>
							</tr>
						</tbody>
					</table>
					<md-input-container class="md-block">
						<label>Comments (Optional)</label>
						<textarea rows="5" ng-model="submission.comments" md-maxlength="150" md-select-on-focus></textarea>
					</md-input-container>
					<div layout="row">
						<flex><md-button class="md-raised md-primary" ng-disabled="!canSubmit()" ng-click="sendSubmission()">Submit</md-button>
					</div>
				</form>
				<div layout="column" ng-show="submitting">
					
					<h3 ng-if="uploading">Uploading Files...</h3>
					<h3 ng-if="!uploading && !submitted">Sending submission...</h3>
					<h3 ng-if="submitted">Successful submission!</h3>
					<md-progress-linear md-mode="indeterminate" ng-if="!submitted"></md-progress-linear>
					<md-progress-linear md-mode="determinate" ng-if="submitted"></md-progress-linear>
					<md-list>
						<md-list-item ng-repeat="upload in uploads">
							 {{upload.fileName}}
							 <span ng-if="!upload.uploaded">
							 ... ({{upload.progress}}% done)
							 </span>
							 <span ng-if="upload.uploaded">
							 ... Done!
							 </span>
						</md-list-item>
					</md-list>
					<span ng-if="submitted">Submission submitted successfully...redirecting in <ng-pluralize count="timeLeft" when="secondForms"/></span>
				</div>
				
			</md-content>
		</md-card-content>
	</md-card>
</md-content>