<md-content>	
	<md-card>
		<md-card-content>
			<h2>Welcome to FACTS for Students</h2>
			<p>Please use the navigation bar to access pages.</p>
		</md-card-content>
	</md-card>
	<md-card>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<md-icon>notifications</md-icon>
				<h2>
					Notifications<span ng-if="notifications.length">({{notifications.length}})</span>
				</h2>
				<span flex></span>
				<md-menu mmd-offset="-200 8">
					<md-button class="md-icon-button" aria-label="More options" ng-click="$mdOpenMenu($event)">
						<md-icon aria-label="More options">more_vert</md-icon>
					</md-button>
					<md-menu-content width="4">
						<md-menu-item>
							<md-button aria-label="User Details" ng-click="clearNotifications()">
								<md-icon md-menu-align-target>block</md-icon>
								Clear Notifications
							</md-button>
						</md-menu-item>
						<md-menu-item>
							<md-button aria-label="User Details" ng-click="markAllRead()">
								<md-icon md-menu-align-target>notifications_none</md-icon>
								Mark All Read
							</md-button>
						</md-menu-item>
						<md-menu-item>
							<md-button aria-label="User Details" ng-click="filtering = !filtering">
								<md-icon md-menu-align-target>filter_list</md-icon>
								Toggle Filter
							</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
			</div>
		</md-toolbar>
		<md-card-content>
			<md-content>
				<span flex layout="row" layout-align="center center" ng-show="!notifications.length">
					<span><h3>No notifications!</h3></span>
				</span>
				<md-list ng-show="notifications.length">
					<md-list-item class="md-2-line" ng-repeat="notification in notifications" ng-click="viewNotification(notification)">
						<div class="md-list-item-text">
							<h3 ng-class="{'strong': !notification.seen}">{{notification.title}} <span class="md-caption">{{notification.creationTime | relativeTime}}</span></h3>
							<p>{{notification.content | limitTo: 50}}{{notification.content.length > 50 ? '...' : ''}}</p>
						</div>
						<md-icon class="md-secondary" ng-if="!notification.seen">info</md-icon>
						<md-icon class="md-secondary" ng-if="notification.seen">info_outline</md-icon>
					</md-list-item>
				</md-list>
			</md-content>
		</md-card-content>
	</md-card>
</md-content>