<md-content layout="column">
	<div layout="row" layout-xs="column">
		<div flex-xs flex-gt-xs="50" layout="column">
			<md-card>
				<md-toolbar>
					<div class="md-toolbar-tools">
						<h2>
							<span>Feedback Status</span>
						</h2>
						<span flex></span>
						<md-button class="md-icon-button">
							<md-icon>access_time</md-icon>
							<md-tooltip>
								{{feedback.dueTime | date : 'dd-MMM-yyyy HH:mm'}}
							</md-tooltip>
						</md-button>
						<span hide-sm hide-xs>due {{feedback.dueTime | relativeTime}}</span>
					</div>
				</md-toolbar>
				<md-card-content>
					<md-content>
						ON TIME
					</md-content>
				</md-card-content>
			</md-card>
		</div>
		<div flex-xs flex-gt-xs="50" layout="column">
			<md-card>
				<md-toolbar>
					<div class="md-toolbar-tools">
						<h2>
							<span>Assignment Details: {{assignment.name}}</span>
						</h2>
					</div>
				</md-toolbar>
				<md-card-content>
					<md-content>
						{{assignment.description}}
						<span layout="row" ng-show="suppliedFiles.length == 0" layout-align="center center" flex>
							<span><h2>No supplied files</h2></span>
						</span>
						<md-list>
							<md-list-item class="md-2-line" ng-repeat="suppliedFile in suppliedFiles">
								<div class="md-list-item-text">
									<h3>{{suppliedFile.name}}.{{suppliedFile.extension}} ({{suppliedFile.size | bytes}})</h3>
									<p>{{suppliedFile.contentType}}</p>
								</div>
								<download-button file-id="suppliedFile.fileId"></download-button>
							</md-list-item>
						</md-list>
					</md-content>
				</md-card-content>
			</md-card>
		</div>
	</div>
	<md-card flex>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>
					<span>Submission Details</span>
				</h2>
				<span flex></span>
				<md-button class="md-icon-button">
					<md-icon>assignment_turned_in</md-icon>
					<md-tooltip>
						{{submission.creationTime | date : 'dd-MMM-yyyy HH:mm'}}
					</md-tooltip>
				</md-button>
				<span hide-sm hide-xs>{{submission.creationTime | date : 'dd/MM/yy HH:mm'}}</span>
				<md-menu md-position-mode="target-right target" ng-show="submissionActions.length">
					<md-button class="md-icon-button" aria-label="More options" ng-click="$mdOpenMenu($event)">
						<md-icon aria-label="More options">more_vert</md-icon>
					</md-button>
					<md-menu-content width="4">
						<md-menu-item ng-repeat="action in submissionActions">
							<md-button ng-click="action.action(assignment)" aria-label="action.description">
								<md-icon md-menu-align-target>{{action.icon}}</md-icon>
								{{action.description}}
							</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
			</div>
		</md-toolbar>
		<md-card-content>
			<md-content>
				<p>{{submission.comment}}</p>
				<span layout="row" ng-show="submissionFiles.length == 0" layout-align="center center" flex>
					<span><h2>No submission files</h2></span>
				</span>
				<md-list>
					<md-list-item class="md-2-line" ng-repeat="submissionFile in submissionFiles">
						<div class="md-list-item-text">
							<h3>{{submissionFile.name}}.{{submissionFile.extension}} ({{submissionFile.size | bytes}})</h3>
							<p>Hash: {{submissionFile.hash}}</p>
						</div>
						<download-button file-id="submissionFile.fileId"></download-button>
					</md-list-item>
				</md-list>	
			</md-content>
		</md-card-content>
	</md-card>
	<div layout="row" layout-xs="column">
		<div flex-xs flex-gt-xs="50" layout="column">
			<md-card>
				<md-toolbar>
					<div class="md-toolbar-tools">
						<h2>
							<span>Comments</span>
						</h2>
						<span flex></span>
						<md-menu md-position-mode="target-right target" ng-show="commentActions.length">
							<md-button class="md-icon-button" aria-label="Edit" ng-click="$mdOpenMenu($event)">
								<md-icon>more_vert</md-icon>
							</md-button>
							<md-menu-content width="4">
								<md-menu-item ng-repeat="action in commentActions">
									<md-button ng-click="action.action(assignment)" aria-label="action.description">
										<md-icon md-menu-align-target>{{action.icon}}</md-icon>
										{{action.description}}
									</md-button>
								</md-menu-item>
							</md-menu-content>
						</md-menu>
					</div>
				</md-toolbar>
				<md-card-content>
					<md-content>
						<span flex layout="row" layout-align="center center" ng-show="!comments.length">
							<span><h3>No comments!</h3></span>
						</span>
						<md-list ng-show="comments.length">
							<md-list-item class="md-3-line md-long-text" ng-repeat="comment in comments">
								<div class="md-list-item-text">
									<h3 ng-if="comment.editMode && comment.new">New Comment</h3>
									<h3 ng-if="comment.editMode && !comment.new">Editing Comment</h3>
									<h3 ng-if="!comment.editMode">Comment on {{comment.creationTime | date}}</h3>
									<p><span ng-if="!comment.editMode">{{comment.comment}}</span>
										<md-input-container class="md-block" ng-if="comment.editMode">
											<label>Description</label>
											<textarea ng-model="comment.newComment.comment" required md-maxlength="255" rows="5" style="height: 87px;"></textarea>
										</md-input-container>
										<md-checkbox ng-model="comment.newComment.secret" ng-if="comment.editMode">Secret</md-checkbox>
									</p>
								</div>
								<md-icon aria-label="Edit comment" class="md-secondary" ng-if="!comment.editMode" ng-click="editComment(comment)">edit</md-icon>
								<md-icon aria-label="Delete comment" class="md-secondary" ng-if="!comment.editMode" ng-click="deleteComment(comment, $index)">delete</md-icon>
								<md-icon aria-label="Save comment" class="md-secondary positive" ng-if="comment.editMode" ng-click="saveComment(comment, $index)">check</md-icon>
								<md-icon aria-label="Cancel comment" class="md-secondary negative" ng-if="comment.editMode" ng-click="cancelComment(comment)">cancel</md-icon>
							</md-list-item>
						</md-list>
					</md-content>
				</md-card-content>
			</md-card>
		</div>
		<div flex-xs flex-gt-xs="50" layout="column">
			<md-card>
				<md-toolbar>
					<div class="md-toolbar-tools">
						<h2>
							<span>Mark</span>
						</h2>
					</div>
				</md-toolbar>
				<md-card-content>
					<md-content>
						<form name="markForm" ng-submit="markForm.$valid && feedback.mark != mark && saveMark(mark)">
							<div layout="row" class="mark-slider">
								<md-slider class="md-primary" flex min="0" max="100" ng-model="mark" aria-label="Mark slider" id="mark-slider"></md-slider>
								<div flex="15" layout="column" layout-align="center center">
									<input flex type="number" ng-model="mark" arial-abel="Mark amount" name="mark" min="0" max="100" required aria-controls="mark-slider">
									<div ng-messages="markForm.mark.$error" class="md-caption error-text">
										<div ng-message="required">Mark value is required!</div>
										<div ng-message="min">Mark cannot be below 0%.</div>
										<div ng-message="max">Mark cannot be above 100%</div>
									</div>
								</div>
							</div>
							<div layout="row">
								<span flex></span>
								<md-button class="md-icon-button" type="submit" ng-disabled="!markForm.$valid || feedback.mark == mark">
									<md-icon class="positive">check_circle</md-icon>
								</md-button>
								<md-button class="md-icon-button" ng-click="cancelMark()" ng-disabled="feedback.mark == mark">
									<md-icon class="negative">cancel</md-icon>
								</md-button>

							</div>
						</form>
					</md-content>
				</md-card-content>
			</md-card>
		</div>
	</div>
</md-content>