<md-content layout="column">
	<md-card flex>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>
					<span>My Marking</span>
				</h2>
			</div>
		</md-toolbar>
		<md-card-content>
			<md-content>
				<span flex layout="row" layout-align="center center" ng-show="!(feedback | filter: {feedbackStatus: 'STARTED'}).length">
					<span><h3>No active marking!</h3></span>
				</span>
				<md-list ng-show="(feedback | filter: {feedbackStatus: 'STARTED'}).length">
					<md-list-item class="md-2-line secondary-button-padding" ng-repeat="fb in (feedback | filter: {feedbackStatus: 'STARTED'})">
						<div class="md-list-item-text">
							<h3>{{course.shortName}}: {{course.name}}</h3>
							<p>{{course.description}}</p>
						</div>
						<md-button class="md-secondary" ui-sref="base.app.marker.marking.details({feedbackId: fb.feedbackId})">Continue Marking</md-button>
					</md-list-item>
				</md-list>
			</md-content>
		</md-card-content>
	</md-card>
	<md-card flex>
	<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>
					<span>Queued Submissions</span>
				</h2>
				<span flex></span>
				<md-button class="md-icon-button" aria-label="Filter">
					<md-icon>filter_list</md-icon>
				</md-button>
				<md-button class="md-icon-button" aria-label="Search">
					<md-icon>search</md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-card-content>
			<md-content>
				<span flex layout="row" layout-align="center center" ng-show="!(feedback | filter: {feedbackStatus: 'QUEUED'}).length">
					<span><h3>No queued submissions!</h3></span>
				</span>
				<md-list ng-show="(feedback | filter: {feedbackStatus: 'QUEUED'}).length">
					<md-list-item class="md-2-line secondary-button-padding" ng-repeat="fb in (feedback | filter: {feedbackStatus: 'QUEUED'})">
						<div class="md-list-item-text secondary-padding">
							<h3>Feedback {{fb.feedbackId}}</h3>
							<p>Due {{fb.dueTime | relativeTime}}</p>
						</div>
						<md-button class="md-secondary" ui-sref="base.app.marker.marking.details({feedbackId: fb.feedbackId})">Start Marking</md-button>
					</md-list-item>
				</md-list>
			</md-content>
		</md-card-content>
	</md-card>
</md-content>