.slide.ng-enter {
    transition: max-height 3s ease-out;
    max-height: 0;
    overflow: hidden;
}
.slide.ng-enter-active {
    max-height: 500px;
}

.fade.ng-enter {
    transition: opacity 0.25s linear;
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    transition: opacity 0.25s linear;
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    12.5% {
        transform: translateX(-6px);
    }
    37.5% {
        transform: translateX(5px);
    }
    62.5% {
        transform: translateX(-3px);
    }
    87.5% {
        transform: translateX(2px);
    }
    100% {
        transform: translateX(0px);
    }
}

.shake {
    animation: shake 400ms ease-in-out;
}