body {
	background: #ededed;
}

md-list-item.active {
	background: #bfbfbf !important;
	color: #FFFFFF;
}

md-list-item:hover {
	background: #f0f0f0;
}

md-list-item.active > a {
	color: #FFFFFF;
}

md-list-item > a {
	color: #000000;
}

a {
	text-decoration: none;
}

.login-error {
	line-height: 48px;
	font-size: 12px;
}

.login-error div.message {
	padding-left: 5px;
}

.top-box div.message {
	padding-left: 5px;
	line-height: 25px;
}

.breadcrumb {
	margin: 0px;
	padding: 8px 15px;
	list-style: none;
}

.breadcrumb > li {
	display: inline-block;
}

.breadcrumb > li + li :before {
	padding: 0 5px;
	color: #000;
	content: "/\00a0";
}

.md-toolbar-tools-bottom {
  font-size: small;
  & :last-child {
    opacity: 0.8;
  }
}

md-toolbar {
  .md-button.md-default-theme {
    border-radius: 99%; // round toolbar buttons
  }
}

md-sidenav {
  fill: #737373;
}

.submission-files tr.invalid {
	background: #FFCDD2;
}

.error-text-box {
	background: #EEEEEE;
	padding: 15px;
}

.error-text {
	color: #F44336;
}

.tab-with-fab md-content .md-fab.visible {
	transform: scale(1);
	transition: transform 0.3s linear;
}

.tab-with-fab md-content .md-fab {
	transform: scale(0);
	transition: transform 0.3s linear;
}

.tab-with-fab md-content md-tabs {
	background: #f6f6f6;
	border: 1px solid #e1e1e1;
	margin-bottom: 38px;
}

.tab-with-fab md-content md-tabs md-tabs-canvas {
	background: white;
}

md-card-content.login-error {
	color: #F44336;
}
