md-icon.x-small {
    font-size: 12px;
    width: 12px;
    height: 12px;
}

md-icon.small {
    font-size: 16px;
    width: 16px;
    height: 16px;
}

md-icon.large {
    font-size: 48px;
    width: 48px;
    height: 48px;
}

md-icon.error {
    color: #C62828;
}

md-icon.warning {
    color: #F9A825;
}

md-icon.info {
    color: #1565C0;
}

md-icon.positive {
    color: #2E7D32;
}

md-icon.negative {
    color: #C62828;
}