<md-dialog aria-label="Course Settings" flex-gt-xs="50" flex-xs ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2><strong>Course Settings</strong> for {{course.shortName}}: {{course.name}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()" aria-label="Close dialog">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div ng-if="!enrollment">
                    Loading enrollment information...
                </div>
                <div layout="row" ng-if="enrollment">
                    <md-input-container flex>
                        <label>Enrollment Level</label>
                        <md-select ng-model="enrollmentLevel" aria-label="Enrollment level" ng-model-options="{trackBy: '$value.level'}">
                            <md-option ng-value="el" ng-repeat="el in enrollmentLevels">{{el.description}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-button class="md-primary" ng-disabled="enrollmentLevel.level === enrollment.enrollmentLevel" ng-click="save(enrollment, enrollmentLevel)">
                        Save
                    </md-button>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-highlight" ng-click="unenroll(enrollment)">
                Unenroll
            </md-button>
            <span flex></span>
            <md-button ng-click="cancel()" style="margin-right:20px;">
                Close
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>