<md-toolbar>
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
			<ng-md-icon icon="menu"></ng-md-icon>
		</md-button>
		<h3>
			{{ $title }}
		</h3>
		<span flex></span>
		<md-button class="md-icon-button" aria-label="Logout" ng-click="logout()">
			<ng-md-icon icon="logout"></ng-md-icon>
		</md-button>
	</div>
	<md-subheader class="md-primary">
		<ui-breadcrumbs displayname-property="data.displayName" template-url="modules/base/partials/breadcrumbs.tpl.html"></ui-breadcrumbs>
	</md-subheader>
</md-toolbar>